.idea/workspace.xml
.idea/vcs.xml
.idea/scala_compiler.xml
.idea/sbt.xml
.idea/modules/akka-scala-sample.iml
.idea/modules/akka-scala-sample-build.iml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/SBT__com_typesafe_akka_akka_actor_2_11_2_5_6_jar.xml
.idea/dbnavigator.xml
.idea/.name
